body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
}
.main{
	color: antiquewhite;
	background-color: rgb(48, 30, 30);
	background-image: url(world.jpg);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: center;
}
select{
	text-align: center;
}
.form-select-md{
	width: 50%;
}
.main>h2{
	color: none;
	font-size: 5ch;
	text-shadow:-1px 0 black;
}
.btn{
	color: wheat;
	background: transparent;
}
.output{
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-around;
	align-items: center;
}
.output>h2{
	font-size: 3ch;
}

#image>img{
	height: 400px;
	width: 400px;
}